@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Regular.eot");
  src: url("../fonts/Roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Bold.eot");
  src: url("../fonts/Roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Medium.eot");
  src: url("../fonts/Roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Light.eot");
  src: url("../fonts/Roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Light.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Light.woff") format("woff"), url("../fonts/Roboto/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Light.svg#Roboto-Light") format("svg");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Italic.eot");
  src: url("../fonts/Roboto/Roboto-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Italic.woff") format("woff"), url("../fonts/Roboto/Roboto-Italic.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Italic.svg#Roboto-Italic") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto/Roboto-Black.eot");
  src: url("../fonts/Roboto/Roboto-Black.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto/Roboto-Black.woff") format("woff"), url("../fonts/Roboto/Roboto-Black.ttf") format("truetype"), url("../fonts/Roboto/Roboto-Black.svg#Roboto-Black") format("svg");
  font-weight: 900;
  font-style: normal; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  min-height: 500px;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #000; }

h1 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900; }

h2 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 900; }

h3 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase; }

h4 {
  font-size: 14px;
  font-weight: bold; }

h5 {
  font-size: 13px;
  color: #000; }

h6 {
  font-size: 12px;
  font-weight: bold; }

a {
  color: #000;
  text-decoration: none;
  outline: none;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }
  a:hover {
    opacity: 0.7;
    text-decoration: none;
    color: inherit;
    outline: none; }
  a:active {
    opacity: 0.6;
    outline: none;
    color: inherit;
    text-decoration: none; }
  a:focus {
    outline: none;
    color: inherit;
    text-decoration: none; }

button, input, textarea, select {
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease; }

button:hover, input:hover, textarea:hover, select:hover {
  opacity: 0.8; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

img {
  max-width: 100%; }

p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 15px; }

.sprite {
  position: relative;
  display: inline-block; }

.sprite::before {
  content: '';
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  z-index: 10; }

.sprite-angle-bottom::before {
  width: 11px;
  height: 9px;
  background-position: -5px -5px; }

.sprite-book-g::before {
  width: 23px;
  height: 19px;
  background-position: -26px -5px; }

.sprite-book-v::before {
  width: 23px;
  height: 19px;
  background-position: -59px -5px; }

.sprite-car::before {
  width: 40px;
  height: 21px;
  background-position: -92px -5px; }

.sprite-car-g::before {
  width: 24px;
  height: 19px;
  background-position: -142px -5px; }

.sprite-car-v::before {
  width: 24px;
  height: 19px;
  background-position: -176px -5px; }

.sprite-cart::before {
  width: 33px;
  height: 35px;
  background-position: -5px -34px; }

.sprite-cart-w::before {
  width: 20px;
  height: 20px;
  background-position: -210px -5px; }

.sprite-check::before {
  width: 9px;
  height: 6px;
  background-position: -48px -35px; }

.sprite-face::before {
  width: 26px;
  height: 30px;
  background-position: -142px -34px; }

.sprite-flower::before {
  width: 16px;
  height: 28px;
  background-position: -178px -35px; }

.sprite-gift-w::before {
  width: 18px;
  height: 21px;
  background-position: -204px -35px; }

.sprite-hair::before {
  width: 20px;
  height: 27px;
  background-position: -48px -66px; }

.sprite-hand::before {
  width: 22px;
  height: 47px;
  background-position: -78px -66px; }

.sprite-heart-b::before {
  width: 22px;
  height: 20px;
  background-position: -110px -66px; }

.sprite-heart-g::before {
  width: 28px;
  height: 25px;
  background-position: -178px -73px; }

.sprite-heart-r::before {
  width: 28px;
  height: 25px;
  background-position: -5px -108px; }

.sprite-info-g::before {
  width: 19px;
  height: 19px;
  background-position: -43px -108px; }

.sprite-info-v::before {
  width: 19px;
  height: 19px;
  background-position: -110px -108px; }

.sprite-instagram::before {
  width: 33px;
  height: 33px;
  background-position: -139px -108px; }

.sprite-left-arrow::before {
  width: 20px;
  height: 20px;
  background-position: -182px -108px; }

.sprite-legs::before {
  width: 27px;
  height: 26px;
  background-position: -43px -138px; }

.sprite-list-g::before {
  width: 22px;
  height: 19px;
  background-position: -80px -138px; }

.sprite-list-v::before {
  width: 22px;
  height: 19px;
  background-position: -182px -138px; }

.sprite-logout::before {
  width: 12px;
  height: 10px;
  background-position: -67px -35px; }

.sprite-new::before {
  width: 67px;
  height: 68px;
  background-position: -240px -5px; }

.sprite-next::before {
  width: 17px;
  height: 30px;
  background-position: -216px -83px; }

.sprite-ok::before {
  width: 19px;
  height: 19px;
  background-position: -243px -83px; }

.sprite-order::before {
  width: 17px;
  height: 20px;
  background-position: -272px -83px; }

.sprite-prev::before {
  width: 17px;
  height: 30px;
  background-position: -243px -113px; }

.sprite-reviews-g::before {
  width: 24px;
  height: 19px;
  background-position: -270px -113px; }

.sprite-reviews-v::before {
  width: 24px;
  height: 19px;
  background-position: -270px -142px; }

.sprite-sale::before {
  width: 31px;
  height: 31px;
  background-position: -80px -171px; }

.sprite-sale-w::before {
  width: 22px;
  height: 22px;
  background-position: -5px -171px; }

.sprite-scissors::before {
  width: 24px;
  height: 27px;
  background-position: -121px -171px; }

.sprite-search::before {
  width: 18px;
  height: 18px;
  background-position: -214px -142px; }

.sprite-star::before {
  width: 19px;
  height: 17px;
  background-position: -155px -171px; }

.sprite-star-g::before {
  width: 16px;
  height: 15px;
  background-position: -5px -83px; }

.sprite-star-small::before {
  width: 16px;
  height: 15px;
  background-position: -142px -83px; }

.sprite-star-w::before {
  width: 22px;
  height: 21px;
  background-position: -184px -171px; }

.sprite-user::before {
  width: 35px;
  height: 35px;
  background-position: -216px -171px; }

.sprite-user-w::before {
  width: 21px;
  height: 21px;
  background-position: -261px -171px; }

.sprite-viber::before {
  width: 34px;
  height: 34px;
  background-position: -155px -202px; }

.sprite-viber-white::before {
  width: 34px;
  height: 34px;
  background-position: -261px -202px; }

.sprite-vk::before {
  width: 33px;
  height: 33px;
  background-position: -37px -202px; }

.container {
  width: 1300px; }

.row {
  margin-left: -10px;
  margin-right: -10px; }

[class^='col-'] {
  padding-left: 10px;
  padding-right: 10px; }

.justify-align {
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center; }

.header-top {
  background: #ededed; }
  .header-top .justify-align {
    min-height: 40px; }

.header-top__links {
  list-style: none; }
  .header-top__links li {
    position: relative;
    display: inline-block;
    padding-right: 50px;
    font-size: 14px;
    color: #8c8b8b; }
    .header-top__links li::before {
      content: '|';
      position: absolute;
      right: 20px;
      top: 0;
      font-size: 14px;
      color: #D2D2D2; }
    .header-top__links li:last-child::before {
      content: ''; }
    .header-top__links li a {
      display: block;
      color: #8c8b8b; }
      .header-top__links li a:hover {
        opacity: 1;
        color: #000; }

.search-form {
  position: relative;
  width: 305px; }
  .search-form input {
    width: 100%;
    height: 33px;
    padding: 0 15px;
    background: #fff;
    border: none;
    outline: none; }
  .search-form button {
    position: absolute;
    right: 10px;
    top: 6px;
    border: none;
    outline: none;
    background-color: transparent; }

.header-info {
  padding: 15px 0; }
  .header-info .sprite {
    padding: 0 0 0 50px; }
    .header-info .sprite::before {
      position: absolute;
      left: 0;
      top: -3px; }

.header-info__viber {
  font-size: 24px;
  font-weight: 900; }

.header-info__right {
  padding: 0 40px 0 0; }

.header-info__login .sprite-user {
  padding: 0 10px 0 0; }

.header-info__login .sprite::before {
  position: static; }

.header-info__cart span {
  display: block;
  font-size: 16px; }

.header-info__cart.sprite::before {
  top: 3px; }

.header-info__cart--count {
  font-size: 16px;
  text-decoration: underline;
  line-height: 22px; }

.navbar-wrapper {
  min-height: 60px;
  background: url(../img/menu-bg.jpg) no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }

.navbar {
  min-height: 0;
  margin-bottom: 0;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0; }

.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
  border-top: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

.navbar-nav {
  float: none;
  margin: 0; }

.nav.navbar-nav::before, .nav.navbar-nav::after {
  display: none; }

.navbar-nav > li {
  float: none;
  display: inline-block;
  vertical-align: middle; }
  .navbar-nav > li.sale a {
    padding: 0 50px;
    color: #000;
    background: #ffb400; }
  .navbar-nav > li > a {
    display: block;
    padding: 0 20px 0;
    min-height: 60px;
    line-height: 60px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    border: none;
    text-transform: uppercase; }
    .navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
      background-color: transparent; }
    .navbar-nav > li > a.active {
      background: #320f28;
      opacity: 1; }
    .navbar-nav > li > a span {
      display: inline-block;
      padding-left: 8px; }
    .navbar-nav > li > a .sprite {
      vertical-align: middle; }

.dropdown-menu {
  min-width: 210px;
  padding: 20px 0;
  background: #320f28;
  margin: 0;
  border: none; }
  .dropdown-menu > li.hover > a {
    background-color: #79195d; }
  .dropdown-menu > li > a {
    position: relative;
    display: block;
    padding: 14px 20px;
    width: 100%;
    color: #fff;
    font-weight: bold;
    font-size: 16px; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      color: #fff;
      background-color: #79195d; }

.dropdown-menu__level2 {
  display: none;
  min-width: 210px;
  height: 100%;
  padding: 20px 0;
  background: #320f28;
  position: absolute;
  left: 100%;
  border-left: 1px solid #4F2342;
  top: 0;
  list-style: none; }
  .dropdown-menu__level2 > li {
    display: block;
    -webkit-column-break-inside: avoid;
            break-inside: avoid; }
    .dropdown-menu__level2 > li > a {
      display: block;
      padding: 14px 20px;
      width: 100%;
      color: #fff;
      font-weight: normal;
      font-size: 16px; }
      .dropdown-menu__level2 > li > a.active {
        color: #fff;
        background-color: #79195d; }
    .dropdown-menu__level2 > li ul {
      padding: 0 0 0 10px;
      list-style: none; }
      .dropdown-menu__level2 > li ul li {
        padding: 0 0 0 15px; }
        .dropdown-menu__level2 > li ul li a {
          font-size: 16px;
          color: #fff; }
          .dropdown-menu__level2 > li ul li a:hover {
            color: #fff;
            opacity: 1; }
  .dropdown-menu__level2.active {
    display: block; }

.mobile-toggler {
  display: none !important;
  position: relative;
  font-size: 18px;
  padding: 0 0 0 10px !important;
  font-family: monospace;
  color: #fff; }
  .mobile-toggler.active {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg);
    top: -4px;
    left: 3px; }

.btn {
  display: inline-block;
  height: 46px;
  line-height: 46px;
  padding: 0 30px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background: #ffb400;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-transform: uppercase;
  border-color: transparent;
  outline: none;
  text-align: center; }
  .btn:hover {
    opacity: 1;
    background: #e19f00; }

.btn-gray {
  background: #d4d4d4; }
  .btn-gray:hover {
    opacity: .7;
    background: #d4d4d4; }

.btn-violet {
  padding: 0 20px;
  background: #79195e;
  color: #fff;
  -webkit-border-radius: 20px;
          border-radius: 20px; }
  .btn-violet:hover {
    background: #79195e;
    color: #fff; }

.yellow-btn__transparent {
  background-color: transparent;
  color: #ffb400;
  border: 1px solid #ffb400; }

*::-webkit-input-placeholder {
  color: #000;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-moz-placeholder {
  color: #000;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*::-moz-placeholder {
  color: #000;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:-ms-input-placeholder {
  color: #000;
  font-size: 14px;
  text-indent: 0;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }

*:focus::-webkit-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus::-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-moz-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

*:focus:-ms-input-placeholder {
  color: #1b2030;
  text-indent: 620px;
  opacity: 0; }

textarea:focus::-webkit-input-placeholder {
  text-indent: 0; }

textarea:focus::-moz-placeholder {
  text-indent: 0; }

textarea:focus:-moz-placeholder {
  text-indent: 0; }

textarea:focus:-ms-input-placeholder {
  text-indent: 0; }

.form *::-webkit-input-placeholder {
  color: #8c8c8c; }

.form *:-moz-placeholder {
  color: #8c8c8c; }

.form *::-moz-placeholder {
  color: #8c8c8c; }

.form *:-ms-input-placeholder {
  color: #8c8c8c; }

.content {
  min-height: -webkit-calc(100vh - 600px);
  min-height: calc(100vh - 600px);
  background: url(../img/content-bg.png) no-repeat center bottom; }

.banner {
  margin: 20px 0 0; }

.discount-box {
  margin: 20px 0 0; }
  .discount-box .discount-item {
    min-height: 330px;
    border: 1px solid #EFEFEF; }

.discount-item__img {
  width: 50%;
  padding: 0 15px;
  text-align: center; }

.discount-item__info {
  width: 50%;
  padding: 0 15px; }
  .discount-item__info h4 {
    margin-bottom: 10px; }

.discount-item__discount {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase; }

.discount-item__percent {
  font-size: 72px;
  font-weight: bold; }

.clock-box {
  max-width: 180px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.clock-item {
  text-align: center; }

.clock-item__value {
  display: block;
  height: 36px;
  line-height: 36px;
  width: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid #CECECE;
  background-color: #e9e9e9; }

.clock-item__title {
  padding-top: 5px;
  font-weight: bold;
  font-size: 14px; }

.shares-box {
  margin: 20px 0 0;
  padding: 0 0 20px;
  border-bottom: 1px solid #EBEBEB; }

.shares-box__item {
  position: relative; }

.shares-box__overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px; }

.shares-box__tag {
  position: relative;
  display: inline-block;
  min-height: 46px;
  line-height: 46px;
  padding: 0 15px;
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  text-transform: uppercase;
  z-index: 1; }

.bg-red {
  background: #ff0000; }

.bg-violet {
  background: #611a48; }

.bg-yellow {
  background: #eca700; }

.color-white {
  color: #fff; }

.color-yellow {
  color: #ffb400; }

section {
  padding: 30px 0; }

.slick-slider {
  margin: 30px -10px 0; }
  .slick-slider .slick-slide {
    margin-left: 10px;
    margin-right: 10px; }

.product-item h3 {
  margin: 0 0 10px;
  min-height: 40px; }

.product-item__img {
  position: relative;
  height: 220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 15px; }
  .product-item__img img {
    display: block;
    margin: 0 auto; }

.product-item__tag {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10; }
  .product-item__tag.sprite-ok {
    width: 147px;
    height: 37px;
    line-height: 37px;
    padding: 0 0 0 40px;
    background: #42a100;
    color: #fff;
    font-size: 14px;
    font-weight: bold; }
    .product-item__tag.sprite-ok::before {
      position: absolute;
      left: 12px;
      top: 7px; }

.product-item__tag--sale {
  width: 66px;
  height: 66px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  background: #ff0000;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.product-item__list {
  min-height: 30px;
  margin-bottom: 6px;
  list-style: none; }
  .product-item__list li {
    font-size: 12px;
    color: #898989; }

.product-price {
  font-size: 18px;
  font-weight: bold; }

.slick-prev, .slick-next {
  content: '';
  background-image: url(../img/spritesheet.png);
  background-repeat: no-repeat;
  display: block;
  width: 17px;
  height: 30px;
  top: 50%; }

.slick-next {
  right: -15px;
  background-position: -216px -83px; }
  .slick-next:hover, .slick-next:focus {
    background-image: url(../img/spritesheet.png);
    background-position: -216px -83px; }
  .slick-next:before {
    content: ''; }

.slick-prev {
  left: -15px;
  background-position: -243px -113px; }
  .slick-prev:hover, .slick-prev:focus {
    background-image: url(../img/spritesheet.png);
    background-position: -243px -113px; }
  .slick-prev:before {
    content: ''; }

.logo-slider {
  margin-top: 40px;
  border-top: 1px solid #EBEBEB;
  border-bottom: 1px solid #EBEBEB; }
  .logo-slider .slick-prev, .logo-slider .slick-next {
    top: 57%; }

.logo-slider__item {
  height: 160px;
  line-height: 160px;
  text-align: center; }
  .logo-slider__item img {
    display: inline-block;
    vertical-align: middle; }

.seo-text h2 {
  margin-bottom: 20px; }

.reviews {
  padding: 30px 0 0; }
  .reviews h2 {
    margin-bottom: 20px; }

.reviews-slider__item {
  min-height: 270px;
  padding: 35px 40px;
  background: #f7f7f7; }

.star-list {
  margin-bottom: 20px;
  list-style: none; }
  .star-list li {
    display: inline-block;
    vertical-align: middle; }
    .star-list li a {
      padding: 0 0 0 5px;
      font-size: 12px;
      color: #2579bf;
      text-decoration: underline; }

.reviews-name {
  display: block;
  margin-top: 20px; }

.breadcrumbs {
  margin: 30px 0 30px;
  list-style: none; }
  .breadcrumbs li {
    display: inline-block;
    margin-right: -0.03em;
    font-size: 14px;
    color: #8c8b8b; }
    .breadcrumbs li + li::before {
      content: "—";
      padding: 0 8px 0 3px;
      font-size: 14px; }
    .breadcrumbs li a {
      position: relative;
      color: #8c8b8b;
      text-decoration: underline; }

.sidebar {
  padding-bottom: 30px; }
  .sidebar .btn {
    width: 100%;
    margin-bottom: 15px;
    text-align: center; }
    .sidebar .btn:last-of-type {
      margin-bottom: 0; }

.sidebar-banner {
  margin-bottom: 30px; }
  .sidebar-banner a {
    display: inline-block; }
  .sidebar-banner img {
    display: block; }

.sidebar-menu__wrapper {
  margin-bottom: 30px; }
  .sidebar-menu__wrapper h2 {
    margin-bottom: 20px; }

.sidebar-menu {
  list-style: none; }
  .sidebar-menu li a {
    position: relative;
    display: block;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    border-top: 1px solid #DBDBDB; }
    .sidebar-menu li a:hover {
      background: #dbdbdb;
      opacity: 1; }
    .sidebar-menu li a.sprite::before {
      position: absolute;
      left: 0;
      top: 13px; }

.sidebar-filter {
  padding: 30px;
  background: #f9f3f7; }

.filter-item {
  margin-bottom: 25px; }
  .filter-item h3 {
    margin-bottom: 12px;
    text-transform: none; }

.select-box {
  position: relative;
  display: block;
  overflow: hidden;
  height: 40px;
  line-height: 40px;
  background: #fff;
  border: 1px solid #E5E5E5; }
  .select-box.sprite::before {
    position: absolute;
    right: 20px;
    top: 15px; }
  .select-box select {
    width: 110%;
    height: 100%;
    padding: 0 0 0 20px;
    border: none;
    outline: none;
    background-color: transparent; }

.check-list {
  list-style: none; }
  .check-list li {
    margin-bottom: 15px; }
    .check-list li:last-child {
      margin-bottom: 0; }

input[type="checkbox"] {
  display: none; }
  input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    padding: 0 0 0 26px;
    cursor: pointer;
    font-size: 14px;
    line-height: normal; }
    input[type="checkbox"] + label::before {
      content: "";
      display: block;
      position: absolute;
      top: 1px;
      left: 0;
      width: 15px;
      height: 15px;
      border: 1px solid #E5E5E5;
      -webkit-border-radius: 1px;
              border-radius: 1px;
      background: #fff; }
  input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    left: 3px;
    top: 5px;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 9px;
    height: 6px;
    background-position: -210px -5px; }

.show-all {
  display: inline-block;
  margin-top: 15px;
  text-decoration: underline; }

.content-banner {
  margin-bottom: 50px; }

.category-wrapper .product-item {
  max-width: 306px;
  margin: 0 auto 30px; }
  .category-wrapper .product-item .product-item__tag {
    right: 60px; }
    .category-wrapper .product-item .product-item__tag.sprite-ok {
      top: 12px; }
  .category-wrapper .product-item .star-list {
    margin-bottom: 10px; }
  .category-wrapper .product-item h3 {
    text-transform: none;
    height: 50px;
    margin: 0; }
  .category-wrapper .product-item .product-item__list li {
    display: inline-block;
    margin-right: 10px; }
    .category-wrapper .product-item .product-item__list li:last-child {
      margin-right: 0; }

.product-like {
  position: absolute;
  top: 18px;
  right: 0;
  z-index: 10; }
  .product-like.active .sprite::before {
    background-position: -5px -108px; }

.product-price__wrapper {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 12px; }

.product-price__box {
  margin-top: 5px; }
  .product-price__box span {
    display: block; }
    .product-price__box span.product-price__old {
      font-size: 14px;
      font-weight: bold;
      text-decoration: line-through; }

.plus-minus {
  width: 80px; }
  .plus-minus button {
    display: inline-block;
    padding: 0;
    width: 21px;
    height: 21px;
    line-height: 21px;
    text-align: center;
    outline: none;
    border: 1px solid #EAEAEA;
    background-color: #fff;
    -webkit-border-radius: 50%;
            border-radius: 50%; }
  .plus-minus span {
    display: inline-block;
    line-height: normal;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold; }
  .plus-minus input {
    display: inline-block;
    max-width: 34px;
    text-align: center;
    border: none;
    background-color: transparent;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    outline: none; }

.product-btn .btn {
  width: 145px; }

.pagination-list {
  padding-bottom: 45px;
  list-style: none; }
  .pagination-list li {
    display: inline-block; }
    .pagination-list li.active a {
      background: #e6e6e6; }
    .pagination-list li a {
      display: block;
      padding: 0 15px;
      height: 42px;
      line-height: 42px;
      font-size: 14px;
      font-weight: bold; }
      .pagination-list li a:hover {
        background: #e6e6e6; }

.category-item {
  height: 304px;
  max-width: 304px;
  margin: 0 auto 30px;
  -webkit-box-shadow: 0px 0px 8px 0 rgba(89, 89, 89, 0.4);
          box-shadow: 0px 0px 8px 0 rgba(89, 89, 89, 0.4); }
  .category-item h3 {
    text-transform: none;
    text-align: center; }

.section {
  padding: 0 0 30px; }
  .section .breadcrumbs {
    margin-bottom: 10px; }
  .section h1 {
    margin-bottom: 40px; }

.cabinet {
  margin-bottom: 100px; }

.cabinet-welcome {
  margin-bottom: 25px; }

.cabinet-welcome__logout {
  position: relative;
  display: inline-block;
  margin: 0 0 0 15px;
  padding: 0 0 0 20px;
  vertical-align: middle;
  color: #9a9a9a; }
  .cabinet-welcome__logout span {
    text-decoration: underline; }
  .cabinet-welcome__logout.sprite::before {
    position: absolute;
    left: 0;
    top: 4px; }

.cabinet-item {
  margin-bottom: 30px; }

.cabinet-item__box {
  padding: 10px 30px;
  min-height: 70px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #fff;
  background: #a6137b; }
  .cabinet-item__box.bg-yellow {
    background: #eca700; }
  .cabinet-item__box.bg-violet {
    background: #79195d; }
  .cabinet-item__box:last-child span {
    font-size: 18px; }
  .cabinet-item__box .cabinet-item__status span {
    font-size: 14px;
    color: #fff;
    font-weight: normal; }
  .cabinet-item__box span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: 900;
    color: #fff; }
    .cabinet-item__box span.sprite {
      padding: 0 0 0 35px;
      text-transform: uppercase; }
      .cabinet-item__box span.sprite::before {
        position: absolute;
        left: 0;
        top: -4px; }

.all-status {
  position: relative;
  padding: 0 30px 0 15px;
  font-size: 14px;
  font-weight: bold;
  color: #ffb400;
  text-transform: uppercase; }
  .all-status:hover {
    color: #ffb400; }
  .all-status::before {
    position: absolute;
    right: 0;
    top: -2px; }

.profile-info {
  max-width: 305px; }

.profile-info__item {
  min-height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  background: #79195d; }
  .profile-info__item a.sprite {
    position: relative;
    padding: 0 5px 0 34px;
    font-size: 14px;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase; }
    .profile-info__item a.sprite::before {
      position: absolute;
      left: 0;
      top: -4px; }
  .profile-info__item span {
    font-size: 14px;
    font-weight: normal;
    color: #fff; }

.cart-item {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 20px;
  border-bottom: 1px solid #EBEBEB; }
  .cart-item:not(:first-child) {
    padding-top: 20px; }

.cart-item__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .cart-item__left .product-item__img {
    width: 200px;
    height: 145px;
    padding: 3px;
    margin: 0 20px 0 0;
    border: 1px solid #EBEBEB; }
  .cart-item__left .product-item__tag {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7); }

.cart-item__info h3 {
  margin-bottom: 15px;
  text-transform: none; }

.cart-item__info .product-item__list {
  margin-bottom: 15px; }
  .cart-item__info .product-item__list li {
    font-size: 14px;
    margin-bottom: 2px; }

.cart-item__count {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .cart-item__count > span {
    display: inline-block;
    padding: 0 10px 0 0;
    color: #898989; }

.cart-item__right {
  padding-right: 90px; }

.cart-item__price {
  display: inline-block;
  margin-right: 10px;
  font-size: 18px; }

.clear-btn {
  display: inline-block;
  padding: 0;
  width: 28px;
  height: 28px;
  line-height: 28px;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  outline: none;
  border: 1px solid #EAEAEA;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.bonus {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 30px 0 20px;
  border-bottom: 1px solid #EBEBEB; }

.bonus-count {
  margin-bottom: 10px; }

.form-input {
  width: 100%;
  padding: 0 0 0 20px;
  height: 46px;
  line-height: 46px;
  border: 1px solid #EBEBEB;
  outline: none;
  background: #fff; }

.bonus-right .form {
  width: 416px; }
  .bonus-right .form .form-input {
    width: 240px; }

.bonus-right .btn {
  width: 165px; }

.total {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 30px 30px 50px 0; }
  .total .btn {
    width: 165px;
    padding: 0; }
  .total .total-count {
    margin-bottom: 15px;
    font-size: 18px; }
    .total .total-count strong {
      text-transform: uppercase; }

.product-card {
  margin: 50px 0 0;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .product-card .product-item__img {
    width: 414px;
    height: 300px;
    padding: 5px;
    border: 1px solid #EBEBEB; }
    .product-card .product-item__img .product-item__tag {
      top: 20px;
      right: 20px; }

.product-card__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.product-card__info {
  padding: 0 0 0 20px;
  max-width: 330px; }
  .product-card__info h3 {
    margin-bottom: 20px;
    text-transform: none;
    font-size: 18px; }
  .product-card__info .product-item__list {
    margin-bottom: 35px; }
    .product-card__info .product-item__list li {
      margin-bottom: 2px;
      font-size: 14px; }
      .product-card__info .product-item__list li a {
        color: #2579bf;
        text-decoration: underline; }

.wishes-btn {
  display: inline-block;
  padding: 0 0 0 40px;
  font-size: 16px;
  font-weight: bold; }
  .wishes-btn::before {
    position: absolute;
    left: 0;
    top: -4px; }

.product-card__price {
  max-width: 120px; }

.product-card__price--old {
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-decoration: line-through;
  color: #6d6d6d; }

.product-card__price--count {
  display: block;
  margin-bottom: 10px;
  font-size: 30px;
  font-weight: bold;
  color: #000; }

.product-card__add {
  padding: 0 30px 0 0; }
  .product-card__add .plus-minus {
    margin-bottom: 10px; }

.tabs-wrapper {
  margin-bottom: 50px; }

.tabs-nav {
  list-style: none; }
  .tabs-nav li {
    display: inline-block;
    margin-left: 35px; }
    .tabs-nav li:first-child {
      margin-left: 0; }
    .tabs-nav li a {
      position: relative;
      display: block;
      padding: 10px 0 10px 30px;
      font-size: 16px;
      font-weight: 900;
      color: #969696;
      -webkit-transition: .3s;
      -o-transition: .3s;
      transition: .3s; }
      .tabs-nav li a.active, .tabs-nav li a:hover {
        color: #79195d; }
        .tabs-nav li a.active::after, .tabs-nav li a:hover::after {
          background: #79195d; }
        .tabs-nav li a.active.sprite-info-g::before, .tabs-nav li a:hover.sprite-info-g::before {
          background-position: -110px -108px; }
        .tabs-nav li a.active.sprite-book-g::before, .tabs-nav li a:hover.sprite-book-g::before {
          background-position: -59px -5px; }
        .tabs-nav li a.active.sprite-list-g::before, .tabs-nav li a:hover.sprite-list-g::before {
          background-position: -182px -138px; }
        .tabs-nav li a.active.sprite-reviews-g::before, .tabs-nav li a:hover.sprite-reviews-g::before {
          background-position: -270px -142px; }
        .tabs-nav li a.active.sprite-car-g::before, .tabs-nav li a:hover.sprite-car-g::before {
          background-position: -176px -5px; }
      .tabs-nav li a::before {
        position: absolute;
        left: 0;
        top: 9px; }
      .tabs-nav li a::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 0;
        width: 100%;
        height: 3px;
        background-color: transparent; }

.tabs-items {
  margin: 26px 0 0 0; }

.tabs-item {
  display: none; }
  .tabs-item.active {
    display: block; }

.reviews-count {
  display: inline-block;
  margin-left: 3px;
  width: 27px;
  height: 27px;
  line-height: 27px;
  text-align: center;
  color: #000;
  font-size: 14px;
  background: #FFB400;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.product-box {
  padding: 30px 0 40px;
  border-top: 1px solid #EBEBEB; }

footer {
  padding: 45px 0 25px;
  background: url(../img/footer-bg.png) no-repeat center;
  -webkit-background-size: cover;
          background-size: cover; }

.footer-wrapper {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.footer-item {
  min-width: 220px; }
  .footer-item h3 {
    padding: 0 0 20px 20px;
    color: #aa6190; }
  .footer-item:first-child .footer-item__box {
    border: none; }

.footer-item__box {
  min-height: 180px;
  padding: 0 0 0 20px;
  border-left: 1px solid #895073; }

.footer-links {
  list-style: none; }
  .footer-links li {
    margin-bottom: 15px; }
    .footer-links li:last-child {
      margin-bottom: 0; }
    .footer-links li a {
      font-size: 14px;
      color: #fff;
      line-height: 18px; }
      .footer-links li a.color-yellow {
        color: #ffb400; }

.footer-viber {
  position: relative;
  display: inline-block;
  padding: 0 0 0 50px;
  font-size: 24px;
  font-weight: 900;
  color: #fff; }
  .footer-viber::before {
    position: absolute;
    left: 0;
    top: -4px; }
  .footer-viber:hover, .footer-viber:focus {
    color: #fff; }

.footer-soc {
  margin-top: 15px;
  list-style: none; }
  .footer-soc li {
    display: inline-block;
    margin-left: 5px; }

.payment-systems {
  margin-top: 25px; }
  .payment-systems h3 {
    padding-left: 0; }

.payment-systems__list {
  list-style: none; }
  .payment-systems__list li {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px; }

.copyright {
  margin: 50px 0 0;
  padding: 25px 0 0;
  border-top: 1px solid #6F4660; }
  .copyright p {
    font-size: 14px;
    margin: 0;
    color: #fff; }

@media only screen and (max-width: 1300px) {
  .slick-prev {
    left: 0; }
  .slick-next {
    right: 0; }
  .container {
    width: 1170px; }
  .product-item h3 {
    font-size: 14px; }
  .footer-viber {
    font-size: 22px; } }

@media only screen and (max-width: 1200px) {
  .container {
    width: 970px; }
  a.logo {
    max-width: 150px; }
  .header-info__viber {
    font-size: 20px; }
  .navbar-nav > li > a .sprite {
    display: none; }
  .navbar-nav > li > a span {
    padding-left: 0; }
  .footer-item {
    min-width: 0; }
  .footer-item__box {
    min-height: 0;
    padding: 0 10px;
    border-left: 0; }
  .footer-item h3 {
    padding: 0 0 20px 0; }
  .copyright p {
    text-align: center; }
  .product-card .product-item__img {
    width: 260px;
    height: 240px; } }

@media only screen and (max-width: 991px) {
  .container {
    width: 750px; }
  .header-info__delivery {
    display: none; }
  .navbar-nav > li > a {
    padding: 0 10px 0;
    font-size: 14px; }
  .search-form {
    width: 220px; }
  .banner-item {
    margin-bottom: 20px;
    text-align: center; }
  .discount-box .discount-item {
    margin-bottom: 20px; }
  .shares-box__item {
    max-width: 305px;
    margin: 0 auto 30px; }
  .footer-wrapper {
    display: block; }
  .footer-item {
    text-align: center;
    margin-bottom: 30px; }
  .product-card {
    display: block; }
  .product-card__left {
    margin: 0 0 30px; }
  .product-card .product-item__img {
    margin: 0; }
  .product-card__price {
    margin-bottom: 20px; }
  .product-card__add {
    padding: 0 30px 30px 0; }
  .tabs-nav li {
    margin-left: 25px; }
  .product-box h2 {
    text-align: center; }
  .product-box__wrapper .product-item {
    max-width: 290px;
    margin: 0 auto 30px; }
  .tabs-item {
    display: block; }
  .tabs-item__body {
    display: none; }
  .tabs-mobile__btn {
    position: relative;
    display: block;
    margin-bottom: 10px;
    min-height: 46px;
    line-height: 46px;
    background: #79195d;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding: 0 15px; }
    .tabs-mobile__btn::before {
      content: '>';
      position: absolute;
      right: 15px;
      top: 0;
      font-size: 18px;
      font-weight: bold;
      color: #fff;
      font-family: monospace; }
    .tabs-mobile__btn:hover, .tabs-mobile__btn:focus {
      opacity: 1;
      color: #fff; }
  .active-m .tabs-mobile__btn::before {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sidebar {
    position: absolute;
    width: 290px;
    -webkit-transform: translate(-400px, 0);
        -ms-transform: translate(-400px, 0);
            transform: translate(-400px, 0);
    left: -5px;
    top: 0;
    background: #fff;
    z-index: 100;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    -webkit-box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 1px 0px 10px 0px rgba(0, 0, 0, 0.35); }
    .sidebar.active {
      -webkit-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
              transform: translate(0, 0); }
  .content-banner__item {
    margin-bottom: 10px; }
  .sidebar-btn {
    position: absolute;
    display: inline-block;
    top: -19px;
    left: -5px;
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #79195d;
    z-index: 200; }
    .sidebar-btn .sprite {
      vertical-align: middle; }
    .sidebar-btn.hidden {
      display: none !important; }
  .content-inner {
    padding: 40px 0 0; }
  .sidebar-close {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #d4d4d4;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    font-size: 36px;
    font-weight: bold;
    color: #000;
    text-align: center; } }

@media only screen and (max-width: 767px) {
  .container {
    width: auto; }
  .header-top__links {
    text-align: center;
    margin-bottom: 10px; }
    .header-top__links li {
      font-size: 12px;
      padding: 0 5px;
      text-align: center; }
    .header-top__links::before {
      display: none; }
    .header-top__links:last-child {
      padding-right: 0; }
  .header-top .justify-align {
    min-height: 0;
    display: block;
    padding: 10px 0; }
  .search-form {
    width: 220px;
    margin: 0 auto; }
  .header-info {
    display: block;
    text-align: center; }
    .header-info a.logo {
      display: inline-block; }
  .header-info__viber {
    display: block;
    width: 220px;
    margin: 0 auto 20px;
    padding: 0 0 0 50px; }
  .header-info__right {
    padding: 0; }
  .product-slider, .logo-slider {
    max-width: 290px;
    margin: 0 auto 30px; }
  h2 {
    text-align: center; }
  .mobile-toggler {
    display: inline-block !important; }
  .navbar-wrapper {
    min-height: 0;
    padding: 15px 0;
    display: block;
    text-align: center; }
  .navbar-header {
    text-align: center; }
  .navbar-toggle {
    float: none;
    padding: 0 0 0;
    margin: 0 0 0;
    border: none;
    min-height: 25px;
    position: relative;
    z-index: 5; }
    .navbar-toggle .icon-bar {
      position: relative;
      width: 30px;
      height: 3px;
      background: #fff;
      -webkit-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }
    .navbar-toggle.active .icon-bar {
      margin: 0; }
      .navbar-toggle.active .icon-bar:nth-of-type(1) {
        top: 7px;
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
      .navbar-toggle.active .icon-bar:nth-of-type(2) {
        background-color: transparent; }
      .navbar-toggle.active .icon-bar:nth-of-type(3) {
        top: -9px;
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .navbar-toggle .icon-bar + .icon-bar {
      margin-top: 5px; }
  .nav.navbar-nav.active {
    display: block; }
  .navbar-nav > li {
    display: block;
    text-align: center; }
    .navbar-nav > li > a {
      display: block;
      padding: 15px 0;
      min-height: 0;
      line-height: normal; }
    .navbar-nav > li.sale a {
      padding: 15px 0; }
  .dropdown-menu, .dropdown-menu__level2 {
    position: static;
    max-width: 100%;
    float: none;
    text-align: center; }
  li.dropdown > a, li.dropdown-level2 > a {
    display: inline-block;
    width: auto; }
  .discount-item__percent {
    font-size: 48px; }
  .discount-item__discount {
    font-size: 26px; }
  .discount-item__img {
    width: 45%; }
  .discount-item__info {
    width: 55%; }
  .product-card__left {
    display: block; }
  .product-card .product-item__img {
    margin: 0 auto 20px; }
  .cart-item {
    display: block; }
  .cart-item__left {
    display: block; }
  .cart-item__left .product-item__img {
    margin: 0 auto 20px; }
  .section h1 {
    text-align: center; }
  .cart-item__count {
    margin-bottom: 10px; }
  .bonus {
    display: block; }
  .bonus-left {
    margin-bottom: 20px; }
  .total {
    display: block; }
  .bonus-right .form {
    width: auto;
    display: block; }
  .bonus-right .form .form-input {
    margin-bottom: 10px; }
  footer {
    margin-top: 0; }
  .all-status {
    display: inline-block;
    margin-top: 10px;
    padding: 0 30px 0 0; }
  .cabinet {
    margin-bottom: 0; }
  .content-banner__item {
    text-align: center; } }
